# Git
.git
.gitignore

# Node
node_modules
.next
npm-debug.log
yarn-error.log
next-maikado-app/node_modules
next-maikado-app/.next

# Python
__pycache__
*.pyc
venv
.venv
backend/venv

# Docker
Dockerfile
.dockerignore

# Other
.DS_Store
.taskmaster
.vscode
